// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-font: Helvetica, sans-serif;

#post {
	font: 100% $main-font;
	font-style: italic;
}
